// Import utilities
@import "./utilities/variables.scss";
@import "./utilities/mixins.scss";

// Import parts
@import "./parts/header.scss";
@import "./parts/presentation.scss";
@import "./parts/realisations.scss";
@import "./parts/certifications.scss";
@import "./parts/footer.scss";


* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: $light-gray;
}

a {
    text-decoration: none;
    color: #fff;
}

.memoji {
    height: 120px;
}