@keyframes fly {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.75rem;
  background-color: #1E2A3B;
  box-shadow: 0px 0px 10px 2px #1E2A3B;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 10;
}

nav {
  width: 70%;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: normal;
  list-style-type: none;
  font-weight: 400;
  font-size: 1.125em;
}
ul a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 767px) {
  header {
    height: 2.5rem;
  }
  nav {
    width: 100%;
  }
  ul {
    font-size: 0.813em;
    font-weight: 300;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  header {
    height: 3.125rem;
  }
  nav {
    width: 90%;
  }
  ul {
    font-size: 0.875em;
    font-weight: 300;
  }
}
@keyframes fly {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.presentation {
  position: relative;
  background: linear-gradient(180deg, rgb(30, 42, 59) 10%, rgb(69, 98, 135) 50%, rgb(160, 176, 198) 100%);
}
.presentation__about {
  margin: 0 auto;
  position: relative;
  padding: 4.375rem 0;
}
.presentation__about::before {
  content: "";
  max-height: 27rem;
  position: absolute;
  top: 5rem;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../../images/laptop.png");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  mix-blend-mode: lighten;
  opacity: 0.5;
  animation-name: fly;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.presentation__about--text {
  position: relative;
  z-index: 2;
  line-height: 1.7em;
  color: #fff;
}
.presentation__about--text h1 {
  font-size: 3.125em;
  font-weight: 500;
  line-height: 1.3em;
}
.presentation__about--text p {
  margin-top: 1rem;
  font-size: 1.125em;
}
.presentation__assets {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 5rem;
}
.presentation__assets--skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.875em;
}
.presentation__assets--skill img {
  height: 3.75rem;
}

@media screen and (max-width: 767px) {
  .presentation__about {
    padding: 2rem 0;
  }
  .presentation__about--text h1 {
    font-size: 2em;
  }
  .presentation__about--text p {
    font-size: 1em;
  }
  .presentation__assets {
    margin-bottom: 2rem;
    gap: 1rem;
  }
  .presentation__assets--skill {
    font-size: 0.75em;
  }
  .presentation__assets--skill img {
    height: 2rem;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .presentation__assets {
    gap: 2rem;
  }
  .presentation__assets--skill {
    font-size: 0.85em;
  }
  .presentation__assets--skill img {
    height: 2.5rem;
  }
}
@media screen and (max-width: 1440px) {
  .presentation__about {
    margin: 0 2rem;
  }
  .presentation__assets {
    margin: 0 2rem 3rem 2rem;
  }
}
@media screen and (min-width: 1441px) {
  .presentation__about {
    max-width: 1440px;
  }
  .presentation__assets--skill {
    max-width: 1200px;
  }
}
.realisations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
  max-width: 1440px;
}
.realisations__comment {
  max-width: 20%;
}
.realisations__comment h2 {
  font-size: 1.625em;
  font-weight: 600;
}
.realisations__comment p, .realisations__comment h2 {
  margin-bottom: 1rem;
}
.realisations__comment p {
  color: #1E2A3B;
  font-size: 1.125em;
  font-weight: 300;
}
.realisations__comment--mail-btn {
  width: fit-content;
  color: #fff;
  font-size: 1.125em;
  font-weight: 500;
  background-color: #1E2A3B;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  transition: transform 300ms ease-in-out;
}
.realisations__comment--mail-btn:hover {
  transform: scale(1.1);
}
.realisations__gallery {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1.5rem;
  width: 80%;
}
.realisations__gallery--project {
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  width: 28vw;
  border-radius: 10px;
  background-color: #fff;
  aspect-ratio: 3/2 !important;
  transition: transform 300ms ease-in-out;
}
.realisations__gallery--project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.realisations__gallery--project__caption {
  position: absolute;
  bottom: 0;
  text-align: left;
  padding: 0.625rem;
  color: #fff;
}
.realisations__gallery--project__caption h3 {
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.realisations__gallery--project__caption p {
  font-size: 0.938em;
  margin-bottom: 0.5rem;
}
.realisations__gallery--project__technologies {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  position: absolute;
  top: 10px;
  right: 10px;
  gap: 0.2rem;
}
.realisations__gallery--project__technologies--tech {
  background-color: #fff;
  border: 1px solid #1E2A3B;
  border-radius: 25px;
  color: #1E2A3B;
  font-size: 1em;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
}
.realisations__gallery--project__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgb(0, 0, 0) 100%);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  pointer-events: none;
}
.realisations__gallery--project:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 767px) {
  .realisations {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
  }
  .realisations__comment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    width: 100%;
  }
  .realisations__comment img {
    align-self: baseline;
  }
  .realisations__comment h2 {
    font-size: 1.5em;
  }
  .realisations__comment p {
    font-size: 1em;
  }
  .realisations__comment p, .realisations__comment h2 {
    margin-bottom: 0.5rem;
    align-self: baseline;
  }
  .realisations__comment a {
    margin-top: 2rem;
    align-self: last baseline;
  }
  .realisations__gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    width: 100%;
  }
  .realisations__gallery--project {
    width: 80vw;
  }
}
@media screen and (min-width: 768px) and (max-width: 1075px) {
  .realisations {
    gap: 2rem;
    margin: 0 2rem;
  }
  .realisations__comment {
    max-width: 100%;
    width: 32%;
  }
  .realisations__gallery {
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    width: 68%;
  }
  .realisations__gallery--project {
    width: 50vw;
  }
}
@media screen and (min-width: 1076px) and (max-width: 1440px) {
  .realisations {
    gap: 2rem;
    margin: 0 2rem;
  }
  .realisations__comment {
    max-width: 100%;
    width: 22%;
  }
  .realisations__gallery {
    width: 78%;
  }
  .realisations__gallery--project {
    width: 34vw;
  }
}
.certifications {
  background-color: #1E2A3B;
  padding: 6.25rem 0.625rem;
  margin-top: 3.125rem;
}
.certifications__carousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.certifications__carousel--card {
  width: 34rem;
  scroll-snap-align: center;
}
.certifications__carousel--card img {
  border-radius: 5px;
  width: 100%;
}
.certifications__carousel::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 1200px) {
  .certifications {
    padding: 2rem 0.625rem;
  }
  .certifications__carousel--card {
    width: 20rem;
  }
  .certifications__carousel--card img {
    width: 100%;
  }
}
@keyframes fly {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes bg-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.contact {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, rgb(30, 42, 59) 10%, rgb(69, 98, 135) 50%, rgb(160, 176, 198) 100%);
  padding-top: 3.125rem;
}
.contact__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  width: 1000px;
  max-width: 1440px;
  padding: 3rem 0;
  color: #fff;
  background-color: #1E2A3B;
  background: linear-gradient(45deg, rgb(96, 136, 187) 0%, black 100%);
  background-size: 200% 200%;
  animation: bg-animation 6s ease-in-out infinite;
}
.contact__container h5 {
  font-size: 3em;
  font-weight: 600;
}
.contact__container p {
  width: 50rem;
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 2rem;
}
.contact__container--socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}
.contact__container--socials a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 100%;
  padding: 0.7rem;
  width: 1.875rem;
  height: 1.875rem;
  transition: transform 300ms ease-in-out;
}
.contact__container--socials a:hover {
  transform: scale(1.1);
}
.contact__container--socials .fa-linkedin-in, .contact__container--socials .fa-github {
  font-size: 1.5em;
}
.contact__container--socials .malt-logo {
  width: 80%;
}
.contact__container--mail-btn {
  width: fit-content;
  border: 1px solid #fff;
  border-radius: 25px;
  color: #fff;
  font-weight: 500;
  font-size: 1.125em;
  padding: 0.5rem 1rem;
  transition: transform 300ms ease-in-out;
}
.contact__container--mail-btn:hover {
  transform: scale(1.1);
  color: #1E2A3B;
  background-color: #fff;
}
.contact__container--mail-btn:hover .fa-envelope {
  display: none;
}
.contact__container--mail-btn:hover .fa-paper-plane {
  display: inline-block !important;
}
.contact__copyright {
  border-top: 1px solid #A0B0C6;
  color: #A0B0C6;
  text-align: center;
  font-size: 0.875em;
  font-weight: 400;
  line-height: 3rem;
  width: 1000px;
  margin-top: 3.125rem;
}

@media screen and (max-width: 767px) {
  .contact__container h5 {
    font-size: 2em;
  }
  .contact__container p {
    font-size: 1em;
    margin-bottom: 1rem;
  }
  .contact__container--socials {
    gap: 1rem;
  }
  .contact__container--socials a {
    padding: 0.4rem;
    width: 1rem;
    height: 1rem;
  }
  .contact__container--socials .fa-linkedin-in, .contact__container--socials .fa-github {
    font-size: 1em;
  }
  .contact__container--socials .malt-logo {
    width: 90%;
  }
  .contact__copyright {
    font-size: 0.75em;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1200px) {
  .contact__container {
    width: 90%;
  }
  .contact__container p {
    width: 90%;
  }
  .contact__copyright {
    width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #A0B0C6;
}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-weight: 400;
}

.memoji {
  height: 120px;
}

/*# sourceMappingURL=style.css.map */
