// Import utilities
@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

.certifications {
    background-color: $very-dark-blue;
    padding: 100px 10px;
    margin-top: 50px;

    &__carrousel {
        display: grid;
        grid-auto-flow: column;
        scroll-behavior: auto;
        gap: 1rem;
        overflow-y: auto;
        overscroll-behavior-x: contain;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;
        
        &--card {
            width: 550px;
            scroll-snap-align: center;

            img {
                border-radius: 5px;
                width: 550px;
            }
        }
    }

    &__carrousel::-webkit-scrollbar {
        display: none;
    }
}