// Import utilities
@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";



header {
    @include flex-center;
    height: 3.75rem;
    background-color: $very-dark-blue;
    box-shadow: 0px 0px 10px 2px $very-dark-blue; 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

nav {
    width: 70%;
}

ul {
    @include flex(row, space-evenly, normal);
    list-style-type: none;
    font-weight: 400;
    font-size: 1.125em;
}



@media screen and (max-width: 767px) {
    header {
        height: 2.5rem;
    }

    nav {
        width: 100%;
    }
    
    ul {
        font-size: 0.813em;
        font-weight: 300;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    header {
        height: 3.125rem;
    }

    nav {
        width: 90%;
    }
    
    ul {
        font-size: 0.875em;
        font-weight: 300;
    }
}