@import "../utilities/variables.scss";
@import "../utilities/mixins.scss";

header {
    @include center-content;
    @include flex-center;
    // max-width: 1440px;
    background-color: $very-dark-blue;
    height: 60px;
    // border-radius: 0 0 15px 15px;
    // box-shadow: 0px 2px 5px 2px $very-dark-blue; 
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 10;
}

nav {
    width: 70%;
}

ul {
    @include flex(row, space-evenly, normal);
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
}
